# Build output
/target/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# STS / Eclipse / NetBeans
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# OS junk
.DS_Store
Thumbs.db

# Logs & temp
*.log
/logs/
*.swp
*.swo
*.tmp
