<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title layout:fragment="title">Upload · WebLogParser</title>
    </head>
    <body>
        <div layout:fragment="content" class="container pt-5">
            <div th:if="${error}" th:text="${error}" class="alert alert-danger"></div>

            <div class="row">
                <div class="col-6 mx-auto">
                    <h2 class="mb-5">Upload your log file</h2>

                    <form th:action="@{/upload}"
                          th:object="${logUploadForm}"
                          method="post"
                          enctype="multipart/form-data"
                    >
                        <div class="mb-4">
                            <div th:each="lvl : ${allLogLevels}" class="form-check form-check-inline">
                                <input type="checkbox" th:field="*{logLevels}" th:value="${lvl}"/>
                                <label th:text="${lvl}"></label>
                            </div>
                            <small class="d-block text-danger" th:if="${#fields.hasErrors('logLevels')}" th:errors="*{logLevels}"></small>
                        </div>

                        <div class="mb-4">
                            <label for="file" class="form-label">Log file:</label>
                            <input type="file" th:field="*{file}" id="file" class="form-control" accept=".log" required/>
                            <small class="text-danger" th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></small>
                        </div>

                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>

                </div>
            </div>
        </div>
    </body>
</html>